@model Nop.Plugin.Widgets.SwipeSliderPro.Models.ConfigurationModel
@using Nop.Plugin.Widgets.SwipeSliderPro.Models
@using Nop.Services
@using Newtonsoft.Json
@{CoverflowEffect3DModel cover = JsonConvert.DeserializeObject<CoverflowEffect3DModel>(Model.SwipeTypeSettings); }

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#cfe3">
        <i class="toggle-icon fa fa-plus"></i>
        <span>Coverflow Effect 3D</span>
    </div>
    <div id="cfe3" class="panel-body collapse">
        <div class="panel panel-default">
            <div class="panel-body">Demo</div>
            <iframe data-src="https://swiperjs.com/demos/240-effect-coverflow.html" scrolling="no" src="https://swiperjs.com/demos/240-effect-coverflow.html" frameborder="0" style="width: 1200px;height: 400px;">
            </iframe>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">Parameters</div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Cover_Loop" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Cover_Loop" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.Cover_Loop" />
                    <span asp-validation-for="@cover.Cover_Loop"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Cover_FreeMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Cover_FreeMode" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.Cover_FreeMode" />
                    <span asp-validation-for="@cover.Cover_FreeMode"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Cover_AutoPlayDisableOnInteraction" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Cover_AutoPlayDisableOnInteraction" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.Cover_AutoPlayDisableOnInteraction" />
                    <span asp-validation-for="@cover.Cover_AutoPlayDisableOnInteraction"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Cover_AutoPlayDelay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Cover_AutoPlayDelay" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.Cover_AutoPlayDelay" />
                    <span asp-validation-for="@cover.Cover_AutoPlayDelay"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Cover_Pagination" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Cover_Pagination" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.Cover_Pagination" asp-items="@(((PaginationEnum)cover.Cover_Pagination).ToSelectList())" />
                    <span asp-validation-for="@cover.Cover_Pagination"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Cover_AspectRelation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Cover_AspectRelation" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.Cover_AspectRelation" asp-items="@(((AspectRelationEnum)cover.Cover_AspectRelation).ToSelectList())" />
                    <span asp-validation-for="@cover.Cover_AspectRelation"></span>
                </div>
            </div>
        </div>
    </div>
    
</div>

