@model Nop.Plugin.Widgets.SwipeSliderPro.Models.ConfigurationModel
@using Nop.Plugin.Widgets.SwipeSliderPro.Models
@using Nop.Services
@using Newtonsoft.Json
@{DefaultModel cover = JsonConvert.DeserializeObject<DefaultModel>(Model.SwipeTypeSettings); }

<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#defPan">
        <i class="toggle-icon fa fa-plus"></i>
        <span>Default Mode</span>
    </div>
    <div id="defPan" class="panel-body collapse">
        <div class="panel panel-default">
            <div class="panel-body">Demo</div>
            <iframe data-src="https://swiperjs.com/demos/220-effect-fade.html" scrolling="no" src="https://swiperjs.com/demos/220-effect-fade.html" frameborder="0" style="width: 1200px;height: 400px;">
            </iframe>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">Parameters</div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Effect" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Effect" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.Effect" asp-items="@(((EffectEnum)cover.Effect).ToSelectList())" />
                    <span asp-validation-for="@cover.Effect"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.NavigationArrow" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.NavigationArrow" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.NavigationArrow" />
                    <span asp-validation-for="@cover.NavigationArrow"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Pagination" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Pagination" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.Pagination" asp-items="@(((PaginationEnum)cover.Pagination).ToSelectList())" />
                    <span asp-validation-for="@cover.Pagination"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.SpaceBetweenSlides" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.SpaceBetweenSlides" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.SpaceBetweenSlides" />
                    <span asp-validation-for="@cover.SpaceBetweenSlides"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.SlidesPerView" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.SlidesPerView" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.SlidesPerView" asp-items="@(((SlidesPerViewEnum)cover.SlidesPerView).ToSelectList())" />
                    <span asp-validation-for="@cover.SlidesPerView"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Loop" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Loop" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.Loop" />
                    <span asp-validation-for="@cover.Loop"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.GrabCursor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.GrabCursor" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.GrabCursor" />
                    <span asp-validation-for="@cover.GrabCursor"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.AutoPlay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.AutoPlay" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.AutoPlay" />
                    <span asp-validation-for="@cover.AutoPlay"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.AutoPlayDisableOnInteraction" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.AutoPlayDisableOnInteraction" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.AutoPlayDisableOnInteraction" />
                    <span asp-validation-for="@cover.AutoPlayDisableOnInteraction"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.AutoPlayDelay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.AutoPlayDelay" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.AutoPlayDelay" />
                    <span asp-validation-for="@cover.AutoPlayDelay"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.CenteredSlides" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.CenteredSlides" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.CenteredSlides" />
                    <span asp-validation-for="@cover.CenteredSlides"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.KeyboardEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.KeyboardEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.KeyboardEnabled" />
                    <span asp-validation-for="@cover.KeyboardEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.MouseWheel" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.MouseWheel" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.MouseWheel" />
                    <span asp-validation-for="@cover.MouseWheel"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.AutoHeight" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.AutoHeight" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.AutoHeight" />
                    <span asp-validation-for="@cover.AutoHeight"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.FreeMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.FreeMode" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.FreeMode" />
                    <span asp-validation-for="@cover.FreeMode"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.FreeMode_Sticky" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.FreeMode_Sticky" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="@cover.FreeMode_Sticky" />
                    <span asp-validation-for="@cover.FreeMode_Sticky"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.SlidesPerColumn" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.SlidesPerColumn" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.SlidesPerColumn" asp-items="@(((SlidesPerColumnEnum)cover.SlidesPerColumn).ToSelectList())" />
                    <span asp-validation-for="@cover.SlidesPerColumn"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.HashOrHistory_Navigation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.HashOrHistory_Navigation" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="@cover.HashOrHistory_Navigation" asp-items="@(((HashOrHistoryEnum)cover.HashOrHistory_Navigation).ToSelectList())" />
                    <span asp-validation-for="@cover.HashOrHistory_Navigation"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="@Model.SwipeTypeSettings_OverrideForStore" asp-input="@cover.Breakpoints" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="@cover.Breakpoints" data-toggle="tooltip" title="Allows to set different parameter for different responsive breakpoints (screen sizes). Not all parameters can be changed in breakpoints, only those which are not required different layout and logic"/>
                </div>
                <div class="col-md-9">
                    @*<nop-editor asp-for="@cover.Breakpoints" />*@
                    <textarea asp-for="@cover.Breakpoints"></textarea>
                    <span asp-validation-for="@cover.Breakpoints"></span>
                </div>
            </div>
        </div>
    </div>
    
</div>

